@CHARSET "ISO-8859-1";
body {
	margin-left: 300px;
	margin-right: 400px;
	padding-left: 20px;
	border: 1px solid black;
}
input.text {
	width: 200px;
	height: 30px;
}

#register {
	margin-left: 120px;
	width: 70px;
	height: 30px;
}
#clear {
	margin-left: 20px;
	width: 50px;
	height: 30px;
}